---
import MarkdownIt from 'markdown-it';
const md = new MarkdownIt();
const { frontmatter } = Astro.props;
---
<section id="approach" class="relative z-10 bg-black pb-20 pt-20 md:sticky md:top-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-12 xl:px-6 2xl:px-0">
        <div class="flex">
            <div class="w-full">
                {
                    frontmatter.main.title && (
                        <div class="flex flex-wrap items-center gap-6">
                            <h2 class="text-7xl font-bold text-white xl:text-8xl">{ frontmatter.main.title }</h2>
                            <span class="h-max rounded-full border border-white/40 px-2 py-1 text-xs tracking-wider text-white">02</span>
                        </div>
                    )
                }
                {
                    frontmatter.main.text && (
                        <div class="mt-24 ml-auto text-lg font-light text-white sm:text-2xl md:w-2/3 lg:w-1/2 xl:leading-normal"
                            set:html={ md.render(frontmatter.main.text) } />
                    )
                }
            </div>
        </div>
    </div>
</section>