<section id="contact" class="relative z-10 bg-gradient-to-b from-black via-black/80 to-black pt-32 backdrop-blur-3xl lg:pb-32 lg:pt-0">
  <div class="mx-auto max-w-7xl px-6 lg:px-12 xl:px-6 2xl:px-0">
    <div class="flex flex-wrap items-center gap-6">
      <h2 class="text-7xl font-bold text-white xl:text-8xl">Let's connect</h2>
      <span class="h-max rounded-full border border-white/40 px-2 py-1 text-xs tracking-wider text-white">__</span>
    </div>
    <div class="mt-24">
      <div class="grid gap-6 border-t border-white/30 pt-24 lg:grid-cols-3 lg:gap-24">
        <div class="lg:col-span-2">
          <form action="" class="mx-auto space-y-8 md:w-3/4">
            <div class="grid gap-8 sm:grid-cols-2 sm:gap-4">
              <div>
                <label for="firstname" class="tracking-wide text-white">Name</label>
                <input type="text" id="firstname" name="firstname" autocomplete="name" placeholder="Cara Carl" class="mt-3 w-full border border-white/20 bg-transparent px-4 py-3 text-white/70 outline-none focus:ring-1 focus:ring-slate-700" required />
              </div>
              <div>
                <label for="email" class="tracking-wide text-white">Email</label>
                <input type="email" id="email" name="email" placeholder="cara.carl@email.com" class="mt-3 w-full border border-white/20 bg-transparent px-4 py-3 text-white/70 outline-none focus:ring-1 focus:ring-slate-700" required />
              </div>
            </div>
            <div>
              <label for="message" class="tracking-wide text-white">Nachricht</label>
              <textarea name="message" id="message" cols="30" rows="6" placeholder="…" class="mt-3 w-full border border-white/20 bg-transparent px-4 py-3 text-white/70 outline-none focus:ring-1 focus:ring-slate-700" required></textarea>
            </div>
            <button type="submit" class="group ml-auto flex h-12 w-auto items-center overflow-hidden bg-white px-5 transition-all duration-100 hover:bg-slate-700">
              <span class="relative uppercase tracking-wide text-black group-hover:text-slate-100">Absenden</span>
            </button>
          </form>
        </div>
        <div class="mt-8 border border-white/30 p-8 sm:p-12">
          <div>
            <h3 class="text-xs font-light uppercase tracking-widest text-white">Anschrift</h3>
            <p class="mt-4 text-white">SSV Germania 1900 e.V.<br />Postfach 160104<br />42342 Wuppertal</p>
          </div>
          <div class="mt-16">
            <h3 class="text-xs font-light uppercase tracking-widest text-white">Kontakt</h3>
            <ul class="relative z-20 mt-4 space-y-2 font-light text-white">
              <li>
                <a href="mailto:hello@caracals.de">E-Mail ------- hello@caracals.de</a>
              </li>
            </ul>
          </div>
          <div class="mt-16">
            <h3 class="text-xs font-light uppercase tracking-widest text-white">Follow us</h3>
            <ul class="relative z-20 mt-4 space-y-2 font-light text-white">
              <li>
                <a href="https://instagram.com/caracals.wup" target="_blank">001 ------ Instagram</a>
              </li>
              <li>
                <a href="https://ssv-germania1900.de" target="_blank">002 ------ SSV Germania</a>
              </li>
              <li>
                <a href="https://vereinsshop2.myspreadshop.de" target="_blank">003 ------ Shop</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>