---
import MarkdownIt from "markdown-it";
const md = new MarkdownIt();
const { frontmatter } = Astro.props;
---

<section
    id="introduction"
    class="relative top-0 z-10 bg-black pb-20 pt-20 md:sticky"
>
    <div class="mx-auto max-w-7xl px-6 lg:px-12 xl:px-6 2xl:px-0">
        <div class="flex">
            <div class="w-full">
                <div
                    data-rellax-speed="-2"
                    data-rellax-xs-speed="0"
                    data-rellax-mobile-speed="0"
                    class="rellax flex flex-wrap items-center gap-6"
                >
                    <h2 class="text-7xl font-bold text-white xl:text-8xl hyphens-auto">
                        {frontmatter.introduction["intro-title"]}
                    </h2>
                    <span
                        class="h-max rounded-full border border-white/40 px-2 py-1 text-xs tracking-wider text-white"
                        >01</span
                    >
                </div>

                <div
                    class="mt-12 ml-auto text-lg font-light text-white sm:text-2xl md:w-2/3 lg:mt-0 lg:w-1/2 xl:leading-normal"
                    set:html={md.render(frontmatter.introduction["intro-text"])}
                />
            </div>
        </div>
    </div>
</section>
