---
import { Image } from "astro:assets";
import { getImageFromFrontmatter } from "../utils/getImage.ts";
const { frontmatter } = Astro.props;

const galleryImages = frontmatter.gallery.map((image: { image: string; }) => ({
    ...image,
    image: getImageFromFrontmatter(image.image)
}));
---
<section id="overview" class="relative z-10 bg-black pb-20 lg:pt-20">
    <div class="xl:px-6">
        <div class="grid grid-cols-2 gap-3 md:gap-6">
            <Image loading="lazy" src={galleryImages?.[0].image} alt={galleryImages?.[0].caption} width={ galleryImages?.[0]?.width } height={ galleryImages?.[0]?.height } layout="constrained" />
            <div data-rellax-speed="-2" data-rellax-xs-speed="0" data-rellax-mobile-speed="0" class="rellax">
                <Image loading="lazy" class="h-full w-full object-cover object-top transition duration-500" src={galleryImages?.[1].image} alt={galleryImages?.[1]?.caption} width={ galleryImages?.[1]?.width } height={ galleryImages?.[1]?.height } layout="constrained" />
            </div>
        </div>
    </div>
</section>