---
import { Picture } from 'astro:assets';
import { getImageFromFrontmatter } from '../utils/getImage.ts';
const { frontmatter } = Astro.props;
const containerClasses = Astro.props.containerClasses || [];
const featuredImage = frontmatter?.featuredImage ? getImageFromFrontmatter(frontmatter.featuredImage) : null;
---
<section id="home" class:list={["sticky", "top-0", "flex", "min-h-[60vh]", "items-center", "bg-gradient-to-b", "from-black/10", "via-black/20", "to-black", "media-h:min-h-[60vh]", "xl:min-h-100", "media-h:xl:min-h-100", ...containerClasses]}>
    {featuredImage && (
        <Picture
            src={ featuredImage }
            alt={ frontmatter.title || "Caracals Wuppertal" }
            layout="constrained"
            width={ featuredImage.width }
            position="top"
            height={ featuredImage.height }
            data-rellax-speed="3"
            data-rellax-xs-speed="2"
            data-rellax-mobile-speed="2"
            class="rellax absolute inset-0 h-full w-full object-cover"
        />
    )}
    <div class="relative z-10 mx-auto flex h-full max-w-7xl items-center px-6 lg:px-12 xl:px-6 2xl:px-0">
        <h1 data-rellax-speed="-1" data-rellax-xs-speed="0" data-rellax-mobile-speed="0" class="rellax text-center text-7xl font-black text-white sm:text-8xl lg:text-9xl xl:leading-tight">{frontmatter.title}</h1>
    </div>
</section>