---
const {frontmatter} = Astro.props;
---
<section id="home" class="sticky top-0 flex min-h-screen items-center bg-gradient-to-b from-black/10 via-black/20 to-black media-h:min-h-[60vh] xl:min-h-screen media-h:xl:min-h-screen">
    <img data-rellax-speed="3" data-rellax-xs-speed="2" data-rellax-mobile-speed="2" class="rellax absolute inset-0 h-full w-full object-cover" src={frontmatter.featuredImage} alt="project cover" width="2000" height="1333" />
    <div class="relative z-10 mx-auto flex h-full max-w-7xl items-center px-6 lg:px-12 xl:px-6 2xl:px-0">
        <h1 data-rellax-speed="-1" data-rellax-xs-speed="0" data-rellax-mobile-speed="0" class="rellax text-center text-7xl font-black text-white sm:text-8xl lg:text-9xl xl:leading-tight">{frontmatter.title}</h1>
    </div>
</section>