---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../assets/css/custom.css";
---

<html lang="de" class="scroll-smooth">
  <BaseHead />
  <body class="bg-black">
    <Header />
    <main class="background relative">
      <slot />
    </main>
  </body>
</html>
