---
import MainLayout from "./MainLayout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
const maxWidthClasses = ["max-w-screen-2xl", "mx-auto"];
---

<MainLayout>
  <ProjectHeader { frontmatter } containerClasses={maxWidthClasses} />
  <section id="page" class="relative z-10 bg-black pb-20 pt-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-12 xl:px-6 2xl:px-0">
      <div class="flex">
        <div class="w-full">
          <div class="text-white">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer containerClasses={["pt-32", "backdrop-opacity-0"]} />
</MainLayout>
